<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Register Department Details</h3>
                    <div class="form-button1">
                        <button class="btn btn-primary" routerLink="/viewdepartment">View Department</button>
                    </div>
                    <p>--------------</p>
                    <form class="requires-validation" >



                        <div class="input-group">
                           <label for="name">Department Name</label>
                           <input class="form-control" type="text" formControlName="courseName" placeholder="Example: Computer Science " required>
                        </div>

                        <div class="input-group">
                            <label for="email">Department Description</label>
                            <input class="form-control" type="text" formControlName="courseDesc" placeholder="Example: Focuses on the study of IT " required>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" (click)="onSubmit()" type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

