<body>

    <div class="dashboard-container">
        <h1 class="dashboard-title">Admission Status View</h1>

        <div class="dashboard-content">
            <form [formGroup]="admissionForm" class="filter-form">
                <div class="sidebar">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status" (change)="getAction()" formControlName="status">
                            <option value="">Select Status</option>
                            <option value="Submitted">Submitted</option>
                            <option value="Admitted">Admitted</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input type="date" (change)="getAction()" id="startDate" formControlName="startdate">
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date</label>
                        <input type="date" (change)="getAction()" id="endDate" formControlName="enddate">
                    </div>
                </div>
            </form>

            <div class="main-content" *ngIf="noResult">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Course Name</th>
                            <th>Status</th>
                            <th>Submission Date</th>
                            <th>Review Date</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of admissionData; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.course_name }}</td>
                            <td>{{ item.form_status }}</td>
                            <td>{{ item.submission_date | date:'dd-MM-yyyy'  }}</td>
                            <td *ngIf="item.review_date === null ">Not Reviewed</td>
                            <td *ngIf="item.review_date != null">{{ item.review_date | date:'dd-MM-yyyy' }}</td>
                            <td><button 
                            [disabled]="item.form_status === 'Rejected'" (click)="deleteApplicationForm(item.admission_id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="no-results-container" *ngIf="!noResult">
                <h2>No Results Found</h2>
                <p>We couldn't find any results matching your search criteria.</p>
                <button class="btn btn-primary">Search other result</button>
            </div>
        </div>
    </div>

</body>