<div class="container" *ngFor="let data of details">
  <div class="profile-card">
    <a>
      <img src="http://localhost:3000/images/{{data.profile_pic}}" alt="Profile Picture" class="profile-image" />
      <div class="profile-details">
        <h2>{{data.first_name}} {{data.last_name}}</h2>
        <p class="profile-id">{{data.profile_id}}</p>
        <p class="profile-info">{{data.age}} | {{data.height}} | {{data.caste}} | {{data.education}} | {{data.district}}
        </p>
        <div class="button-wrapper">

          <button (click)="viewProfile(data.login_id)" class="send-message">View Profile</button>
          <button (click)="openModal(data.first_name,data.last_name,data.login_id,data.interest_id)" class="send-message">Respond</button>
        </div>
      </div>
    </a>
  </div>
</div>

<div *ngIf="isModalOpen" class="modal-backdrop" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <!-- Close icon at the top-right -->
    <span class="close-icon" (click)="closeModal()">×</span>

    <!-- Title and description -->
    <h4 class="modal-title"> Interest Action of {{ name }}</h4>
    <p class="modal-description">Please select whether you would like to accept or decline the proposal.</p>

    <!-- Action Buttons: Accept or Decline -->
    <div class="modal-actions">
      <button class="accept-button" (click)="sendResponse(true)">Accept</button>
      <button class="decline-button" (click)="sendResponse(false)">Decline</button>
    </div>
  </div>
</div>
