<!--Education Section-->

<section id="sidebar" *ngIf="userState === 'Education'">
  <a routerLink="/user/dashboard" class="brand">
    <i class="bx bxs-smile bx-lg"></i>
    <span class="text">Rehabilitation</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a routerLink="/user/dashboard">
        <i class="bx bxs-dashboard bx-sm"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/user/education/disability">
        <i class="bx bxs-shopping-bag-alt bx-sm"></i>
        <span class="text">Disability</span>
      </a>
    </li>
    <li>
      <a routerLink="/user/education/courseselection">
        <i class="bx bxs-doughnut-chart bx-sm"></i>
        <span class="text">Find Course</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bxs-message-dots bx-sm"></i>
        <span class="text">Message</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bxs-group bx-sm"></i>
        <span class="text">Team</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu bottom">
    <li>
      <a href="#">
        <i class="bx bxs-cog bx-sm bx-spin-hover"></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li>
      <a href="#" class="logout">
        <i class="bx bx-power-off bx-sm bx-burst-hover"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>

<!--Career Section-->

<section id="sidebar" *ngIf="userState === 'Career'">
  <a routerLink="/user/dashboard" class="brand">
    <i class="bx bxs-smile bx-lg"></i>
    <span class="text">Rehabilitation</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a routerLink="/user/dashboard">
        <i class="bx bxs-dashboard bx-sm"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/user/education/disability">
        <i class="bx bxs-shopping-bag-alt bx-sm"></i>
        <span class="text">Disability</span>
      </a>
    </li>
    <li>
      <a routerLink="/user/education/courseselection">
        <i class="bx bxs-doughnut-chart bx-sm"></i>
        <span class="text">Find Course</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bxs-message-dots bx-sm"></i>
        <span class="text">Message</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bxs-group bx-sm"></i>
        <span class="text">Team</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu bottom">
    <li>
      <a href="#">
        <i class="bx bxs-cog bx-sm bx-spin-hover"></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li>
      <a href="#" class="logout">
        <i class="bx bx-power-off bx-sm bx-burst-hover"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>

<!--Matrimony Section-->

<section id="sidebar" *ngIf="userState === 'Matrimony'">
  <a routerLink="/user/dashboard" class="brand">
    <i class="bx bxs-smile bx-lg"></i>
    <span class="text">Rehabilitation</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a routerLink="/user/dashboard">
        <i class="bx bxs-dashboard bx-sm"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/user/matrimony/updateprofile">
        <i class="bx bxs-shopping-bag-alt bx-sm"></i>
        <span class="text">Update Profile</span>
      </a>
    </li>
    <li>
      <a routerLink="/user/matrimony/findpartner">
        <i class="bx bxs-doughnut-chart bx-sm"></i>
        <span class="text">Find Your Partner</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bxs-message-dots bx-sm"></i>
        <span class="text">Message</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bxs-group bx-sm"></i>
        <span class="text">Team</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu bottom">
    <li>
      <a href="#">
        <i class="bx bxs-cog bx-sm bx-spin-hover"></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li>
      <a href="#" class="logout">
        <i class="bx bx-power-off bx-sm bx-burst-hover"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
