<div class="container" *ngFor="let data of details">
    <div class="profile-card">
        <a>
            <img src="http://localhost:3000/images/{{data.profile_pic}}" alt="Profile Picture" class="profile-image" />
            <div class="profile-details">
                <h2>{{data.first_name}} {{data.last_name}}</h2>
                <p class="profile-id">{{data.profile_id}}</p>
                <p class="profile-info">{{data.age}} | {{data.height}} | {{data.caste}} | {{data.education}} |
                    {{data.district}}
                </p>
                <div class="button-wrapper">

                    <button (click)="viewProfile(data.interest_loginid)" class="send-message">View Profile</button>
                    <button (click)="deleteInterest(data.login_id, data.interest_loginid)" class="send-message">Delete Interest</button>
                </div>
            </div>
        </a>
    </div>
</div>

