<body>
  <!-- User Matrimony -->
  <header id="header" *ngIf="userCategory === 'Matrimony'" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a routerLink="/user/dashboard" class="logo d-flex align-items-center me-auto">
        <img src="../../../assets/guest/assets/img/logo.png" alt="">
        <h1 class="sitename">NextStep</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a class="active" (click)="closeMobileNavOnLinkClick()">Dashboard</a></li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>Matrimony</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a *ngIf="!profile" (click)="viewProfile()">View My Profile</a></li>
              <li><a *ngIf="profile" routerLink="/user/matrimony/creatematrimonyprofile">Create Profile</a></li>
              <li><a *ngIf="preference" (click)="viewPreference()">View My Preference</a></li>
              <li><a *ngIf="!preference" routerLink="/admin/matrimony/setpreference">Create Preference</a></li>
              <li routerLink="/user/matrimony/viewcontactrequest"><a >View Contact Request</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>User Controls</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a routerLink="/user/matrimony/editprofileimages"></a></li>
              <li routerLink="/user/matrimony/viewprofile"><a>Edit User Profile</a></li>
              <li routerLink="/user/matrimony/changepassword"><a>Edit/Change Password</a></li>
              <!-- <li class="dropdown">
                <a (click)="toggleDropdown($event)">
                  <span>Edit Matrimony Profile</span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <ul>
                  <li><a routerLink="/user/matrimony/editpreference">Edit Preference</a></li>
                  <li><a routerLink="/user/matrimony/editprofileimages">Edit Profile Images</a></li>
                  <li><a routerLink="/user/matrimony/editbiodetails">Edit Bio Details</a></li>
                  <li><a routerLink="/user/matrimony/editfamilydetails">Edit Family Details</a></li>
                  <li><a routerLink="/user/matrimony/deleteprofile">Delete Profile</a></li>
                </ul>
              </li> -->
            </ul>
          </li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileNav()"></i>
      </nav>

    </div>
  </header>


  <!-- User Education -->
  <header id="header" *ngIf="userCategory === 'Education'" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a routerLink="/user/dashboard" class="logo d-flex align-items-center me-auto">
        <img src="../../../assets/guest/assets/img/logo.png" alt="">
        <h1 class="sitename">NextStep</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="/user/dashboard" class="active" (click)="closeMobileNavOnLinkClick()">Home</a></li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>Education</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a routerLink="/user/education/viewprofile">View user profile</a></li>
              <li><a routerLink="/user/education/updatedisability">Change Disability</a></li>
              <li><a routerLink="/user/education/viewadmissionstatus">View Admission Status</a></li>
            </ul>
          </li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileNav()"></i>
      </nav>

    </div>
  </header>

  <!-- User Career -->
  <header id="header" *ngIf="userCategory === 'Career'" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a routerLink="/user/dashboard" class="logo d-flex align-items-center me-auto">
        <img src="../../../assets/guest/assets/img/logo.png" alt="">
        <h1 class="sitename">NextStep</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#" class="active" (click)="closeMobileNavOnLinkClick()">Home</a></li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>Career</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a routerLink="/user/career/viewprofile">View User Profile</a></li>
              <li><a routerLink="/user/career/findjob">Find Job</a></li>
              <li><a routerLink="/user/career/jobstatusview">View Job Status</a></li>
            </ul>
          </li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileNav()"></i>
      </nav>

    </div>
  </header>


  <router-outlet></router-outlet>


  <script src="../../../../assets/admin/assets/header/js/main.js"></script>
  <script src="../../../../assets/admin/assets/header/js/bootstrap.min.js"></script>
  <script src="../../../../assets/admin/assets/header/js/jquery.min.js"></script>
  <script src="../../../../assets/admin/assets/header/js/popper.js"></script>
</body>