<body>
  <!-- User Matrimony -->
  <header id="header" *ngIf="userCategory === 'Matrimony'" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a routerLink="/user/dashboard" class="logo d-flex align-items-center me-auto">
        <img src="../../../assets/guest/assets/img/logo.png" alt="">
        <h1 class="sitename">NextStep</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#" class="active" (click)="closeMobileNavOnLinkClick()">Dashboard</a></li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>Matrimony</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a *ngIf="!profile" (click)="viewProfile()">View My Profile</a></li>
              <li><a *ngIf="profile" routerLink="/admin/matrimony/viewmatrimonyprofiles">Create Profile</a></li>
              <li><a *ngIf="preference" (click)="viewProfile()">View My Preference</a></li>
              <li><a *ngIf="!preference" routerLink="/admin/matrimony/setpreference">Create Preference</a></li>
              <li><a>Dropdown 2</a></li>
              <li><a>Dropdown 3</a></li>
              <li><a>Dropdown 4</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>User Controls</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a routerLink="/user/matrimony/editprofileimages"></a></li>
              <li><a>Edit User Profile</a></li>
              <li class="dropdown">
                <a (click)="toggleDropdown($event)">
                  <span>Edit Matrimony Profile</span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <ul>
                  <li><a routerLink="/user/matrimony/editpreference">Edit Preference</a></li>
                  <li><a routerLink="/user/matrimony/editprofileimages">Edit Profile Images</a></li>
                  <li><a routerLink="/user/matrimony/editbiodetails">Edit Bio Details</a></li>
                  <li><a routerLink="/user/matrimony/editfamilydetails">Edit Family Details</a></li>
                  <li><a routerLink="/user/matrimony/deleteprofile">Delete Profile</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#featured-services" (click)="closeMobileNavOnLinkClick()">Services</a></li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>Dropdown</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown">
                <a (click)="toggleDropdown($event)">
                  <span>Deep Dropdown</span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <ul>
                  <li><a>Deep Dropdown 1</a></li>
                  <li><a>Deep Dropdown 2</a></li>
                  <li><a>Deep Dropdown 3</a></li>
                  <li><a>Deep Dropdown 4</a></li>
                  <li><a>Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a>Dropdown 2</a></li>
              <li><a>Dropdown 3</a></li>
              <li><a>Dropdown 4</a></li>
            </ul>
          </li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileNav()"></i>
      </nav>

    </div>
  </header>


  <!-- User Education -->
  <header id="header" *ngIf="userCategory === 'Education'" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a routerLink="/admin/dashboard" class="logo d-flex align-items-center me-auto">
        <img src="../../../assets/guest/assets/img/logo.png" alt="">
        <h1 class="sitename">NextStep</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#" class="active" (click)="closeMobileNavOnLinkClick()">Home</a></li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>Matrimony</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a routerLink="/admin/matrimony/viewmatrimonyprofiles">View Profiles</a></li>
              <li class="dropdown">
                <a (click)="toggleDropdown($event)">
                  <span>Deep Dropdown</span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <ul>
                  <li><a>Deep Dropdown 1</a></li>
                  <li><a>Deep Dropdown 2</a></li>
                  <li><a>Deep Dropdown 3</a></li>
                  <li><a>Deep Dropdown 4</a></li>
                  <li><a>Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a>Dropdown 2</a></li>
              <li><a>Dropdown 3</a></li>
              <li><a>Dropdown 4</a></li>
            </ul>
          </li>
          <li><a (click)="closeMobileNavOnLinkClick()">Features</a></li>
          <li><a href="#featured-services" (click)="closeMobileNavOnLinkClick()">Services</a></li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>Dropdown</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown">
                <a (click)="toggleDropdown($event)">
                  <span>Deep Dropdown</span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <ul>
                  <li><a>Deep Dropdown 1</a></li>
                  <li><a>Deep Dropdown 2</a></li>
                  <li><a>Deep Dropdown 3</a></li>
                  <li><a>Deep Dropdown 4</a></li>
                  <li><a>Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a>Dropdown 2</a></li>
              <li><a>Dropdown 3</a></li>
              <li><a>Dropdown 4</a></li>
            </ul>
          </li>
          <li><a (click)="closeMobileNavOnLinkClick()">Logout</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileNav()"></i>
      </nav>

    </div>
  </header>

  <!-- User Career -->
  <header id="header" *ngIf="userCategory === 'Career'" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a routerLink="/admin/dashboard" class="logo d-flex align-items-center me-auto">
        <img src="../../../assets/guest/assets/img/logo.png" alt="">
        <h1 class="sitename">NextStep</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#" class="active" (click)="closeMobileNavOnLinkClick()">Home</a></li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>Matrimony</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a routerLink="/admin/matrimony/viewmatrimonyprofiles">View Profiles</a></li>
              <li class="dropdown">
                <a (click)="toggleDropdown($event)">
                  <span>Deep Dropdown</span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <ul>
                  <li><a>Deep Dropdown 1</a></li>
                  <li><a>Deep Dropdown 2</a></li>
                  <li><a>Deep Dropdown 3</a></li>
                  <li><a>Deep Dropdown 4</a></li>
                  <li><a>Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a>Dropdown 2</a></li>
              <li><a>Dropdown 3</a></li>
              <li><a>Dropdown 4</a></li>
            </ul>
          </li>
          <li><a (click)="closeMobileNavOnLinkClick()">Features</a></li>
          <li><a href="#featured-services" (click)="closeMobileNavOnLinkClick()">Services</a></li>
          <li class="dropdown">
            <a (click)="toggleDropdown($event)">
              <span>Dropdown</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown">
                <a (click)="toggleDropdown($event)">
                  <span>Deep Dropdown</span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <ul>
                  <li><a>Deep Dropdown 1</a></li>
                  <li><a>Deep Dropdown 2</a></li>
                  <li><a>Deep Dropdown 3</a></li>
                  <li><a>Deep Dropdown 4</a></li>
                  <li><a>Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a>Dropdown 2</a></li>
              <li><a>Dropdown 3</a></li>
              <li><a>Dropdown 4</a></li>
            </ul>
          </li>
          <li><a (click)="closeMobileNavOnLinkClick()">Logout</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileNav()"></i>
      </nav>

    </div>
  </header>


  <router-outlet></router-outlet>


  <script src="../../../../assets/admin/assets/header/js/main.js"></script>
  <script src="../../../../assets/admin/assets/header/js/bootstrap.min.js"></script>
  <script src="../../../../assets/admin/assets/header/js/jquery.min.js"></script>
  <script src="../../../../assets/admin/assets/header/js/popper.js"></script>
</body>