<div class="container">
    <h2>View Job Category</h2>
    <ul class="responsive-table">
      <div class="form-button1">
        <button class="btn btn-primary" routerLink="/admin/career/createjobcategory">Add Job Category</button>
      </div>
      <li class="table-header">
        <div class="col col-1">Id</div>
        <div class="col col-2">Category Name</div>
        <div class="col col-3">Qualification</div>
        <div class="col col-3">Description</div>
        <div class="col col-4">Actions</div> 
      </li>
      <li class="table-row" *ngFor="let item of jobcategory; let i = index">
        <div class="col col-1" >{{i + 1}}</div>
        <div class="col col-2" >{{item.jobcat_name}}</div>
        <div class="col col-3" >{{item.qualification}}</div>
        <div class="col col-3" >{{item.description}}</div>
        <div class="col col-4" >
          <button (click)="editJobcategory(item.jobcat_id)" class="btn edit-btn">Edit</button>
          <button (click)="deleteJobCategory(item.jobcat_id)" class="btn delete-btn">Delete</button>
        </div>
      </li>
    </ul>
  </div>
  