<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">
    <a routerLink="/admin/dashboard" class="logo d-flex align-items-center me-auto">
      <img src="../../../assets/guest/assets/img/logo.png" alt="">
      <h1 class="sitename">NextStep</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/admin/dashboard" class="active" (click)="closeMobileNavOnLinkClick()">Home</a></li>
        <li class="dropdown">
          <a (click)="toggleDropdown($event)">
            <span>Controls</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul>
            <li class="dropdown">
              <a (click)="toggleDropdown($event)">
                <span>Education</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i>
              </a>
              <ul>
                <li routerLink="/admin/education/department"><a>Department</a></li>
                <li routerLink="/admin/education/viewcourse"><a>Course</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a (click)="toggleDropdown($event)">
                <span>Career</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i>
              </a>
              <ul>
                <li routerLink="/admin/career/viewjobcategory"><a>Job Category</a></li>
                <li routerLink="/admin/career/viewjob"><a>Job</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a (click)="toggleDropdown($event)">
            <span>Matrimony</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul>
            <li><a routerLink="/admin/matrimony/viewmatrimonyprofiles">View Matrimony Profiles</a></li>
            <li><a routerLink="/admin/matrimony/viewinterestmanagement">Interest Management View</a></li>
            <li><a routerLink="/admin/matrimony/viewuserprofile">Manage User Profiles</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a (click)="toggleDropdown($event)">
            <span>Career</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul>
            <li><a routerLink="/admin/career/viewuserprofile">View Users</a></li>
            <li><a routerLink="/admin/career/viewjobapplication">Job Application</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a (click)="toggleDropdown($event)">
            <span>Education</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul>
            <li><a routerLink="/admin/education/viewusers">View Users</a></li>
            <li><a routerLink="/admin/education/admission">Admission</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a (click)="toggleDropdown($event)">
            <span>Reports</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul>
            <li class="dropdown">
              <a (click)="toggleDropdown($event)">
                <span>Matrimony</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i>
              </a>
              <ul>
                <li routerLink="/admin/matrimony/reports/view-users"><a>User Profiles</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a (click)="toggleDropdown($event)">
                <span>Education</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i>
              </a>
              <ul>
                <li><a>User Profile</a></li>
                <li routerLink="/admin/education/reports/admission"><a>Admission Application</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a (click)="toggleDropdown($event)">
                <span>Career</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i>
              </a>
              <ul>
                <li><a>User Profile</a></li>
                <li routerLink="/admin/career/reports/jobapplication"><a>Job Application</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileNav()"></i>
    </nav>

  </div>
</header>

<router-outlet></router-outlet>

