<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">
    <a routerLink="/admin/dashboard" class="logo d-flex align-items-center me-auto">
      <img src="../../../assets/guest/assets/img/logo.png" alt="">
      <h1 class="sitename">NextStep</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#" class="active" (click)="closeMobileNavOnLinkClick()">Home</a></li>
        <li class="dropdown">
          <a (click)="toggleDropdown($event)">
            <span>Matrimony</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul>
            <li><a routerLink="/admin/matrimony/viewmatrimonyprofiles">View Matrimony Profiles</a></li>
            <li><a routerLink="/admin/matrimony/viewinterestmanagement">Interest Management View</a></li>
            <li><a routerLink="/admin/matrimony/viewuserprofile">Manage User Profiles</a></li>
            <li class="dropdown">
              <a (click)="toggleDropdown($event)">
                <span>Deep Dropdown</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i>
              </a>
              <ul>
                <li><a>Deep Dropdown 1</a></li>
                <li><a>Deep Dropdown 2</a></li>
                <li><a>Deep Dropdown 3</a></li>
                <li><a>Deep Dropdown 4</a></li>
                <li><a>Deep Dropdown 5</a></li>
              </ul>
            </li>
            <li><a>Dropdown 4</a></li>
          </ul>
        </li>
        <li><a (click)="closeMobileNavOnLinkClick()">Features</a></li>
        <li><a href="#featured-services" (click)="closeMobileNavOnLinkClick()">Services</a></li>
        <li class="dropdown">
          <a (click)="toggleDropdown($event)">
            <span>Dropdown</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul>
            <li><a href="#">Dropdown 1</a></li>
            <li class="dropdown">
              <a (click)="toggleDropdown($event)">
                <span>Deep Dropdown</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i>
              </a>
              <ul>
                <li><a>Deep Dropdown 1</a></li>
                <li><a>Deep Dropdown 2</a></li>
                <li><a>Deep Dropdown 3</a></li>
                <li><a>Deep Dropdown 4</a></li>
                <li><a>Deep Dropdown 5</a></li>
              </ul>
            </li>
            <li><a>Dropdown 2</a></li>
            <li><a>Dropdown 3</a></li>
            <li><a>Dropdown 4</a></li>
          </ul>
        </li>
        <li><a (click)="closeMobileNavOnLinkClick()">Logout</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileNav()"></i>
    </nav>

  </div>
</header>

<router-outlet></router-outlet>

