<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rehabilitation</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="ftco-section">
      <nav
        class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
        id="ftco-navbar"
      >
        <div class="container">
          <a routerLink="/admin/dashboard" class="navbar-brand">Rehab</a>
          <form class="searchform order-sm-start order-lg-last">
            <div class="form-group d-flex">
              <input
                type="text"
                class="form-control pl-3"
                placeholder="Search"
              />
              <button type="submit" placeholder="" class="form-control search">
                <span class="fa fa-search"></span>
              </button>
            </div>
          </form>

          <!-- Hamburger Menu (Mobile) -->
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="toggleNavbar()"
          >
            <span class="fa fa-bars"></span> Menu
          </button>

          <!-- Menu Items -->
          <div
            class="collapse navbar-collapse"
            [ngClass]="{ show: navbarOpen }"
            id="ftco-nav"
          >
            <ul class="navbar-nav m-auto" style="cursor: pointer">
              <li class="nav-item active">
                <a routerLink="/admin/dashboard" class="nav-link">Home</a>
              </li>

              <!-- First Dropdown -->
              <li class="nav-item dropdown" (click)="toggleNavbar()">
                <a
                  class="nav-link dropdown-toggle"
                  id="dropdown01"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  (click)="toggleDropdown('dropdown1')"
                >
                  Controls
                </a>
                <div
                  class="dropdown-menu"
                  [ngClass]="{ show: dropdownStates['dropdown1'] }"
                  aria-labelledby="dropdown01"
                >
                  <a
                    routerLink="/admin/education/createdepartment"
                    class="dropdown-item"
                    (click)="toggleDropdown('dropdown4')"
                    >Department</a
                  >
                  <a
                    routerLink="/admin/education/createcourse"
                    class="dropdown-item"
                    (click)="toggleDropdown('dropdown4')"
                    >Course</a
                  >
                  <a
                    routerLink="/admin/education/createjobcategory"
                    class="dropdown-item"
                    (click)="toggleDropdown('dropdown4')"
                    >Job Category</a
                  >
                  <a
                    routerLink="/admin/education/createjob"
                    class="dropdown-item"
                    (click)="toggleDropdown('dropdown4')"
                    >Job</a
                  >
                </div>
              </li>

              <!-- Second Dropdown -->
              <li class="nav-item dropdown" (click)="toggleNavbar()">
                <a
                  class="nav-link dropdown-toggle"
                  id="dropdown02"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  (click)="toggleDropdown('dropdown2')"
                >
                  Education
                </a>
                <div
                  class="dropdown-menu"
                  [ngClass]="{ show: dropdownStates['dropdown2'] }"
                  aria-labelledby="dropdown02"
                >
                  <a
                    routerLink="/admin/education/admission"
                    class="dropdown-item"
                    (click)="toggleDropdown('dropdown4')"
                    >Admission Details</a
                  >
                  <a
                    routerLink="/admin/education/viewadmitteddetails"
                    class="dropdown-item"
                    (click)="toggleDropdown('dropdown4')"
                    >View Admitted Students</a
                  >
                  <a
                    routerLink="/admin/settings/security"
                    class="dropdown-item"
                    (click)="toggleDropdown('dropdown4')"
                    >Security</a
                  >
                </div>
              </li>

              <li class="nav-item dropdown" (click)="toggleNavbar()">
                <a
                  class="nav-link dropdown-toggle"
                  id="dropdown02"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  (click)="toggleDropdown('dropdown3')"
                >
                  Matrimony
                </a>
                <div
                  class="dropdown-menu"
                  [ngClass]="{ show: dropdownStates['dropdown3'] }"
                  aria-labelledby="dropdown02"
                >
                  <a
                    routerLink="/admin/matrimony/viewmatrimonyprofiles"
                    class="dropdown-item"
                    (click)="toggleDropdown('dropdown4')"
                    >Profiles</a
                  >
                  <a
                    routerLink="/admin/education/viewadmitteddetails"
                    class="dropdown-item"
                    (click)="toggleDropdown('dropdown4')"
                    ></a
                  >
                  <a
                    routerLink="/admin/settings/security"
                    class="dropdown-item"
                    (click)="toggleDropdown('dropdown4')"
                    >Security</a
                  >
                </div>
              </li>

              <li class="nav-item"><a class="nav-link">Work</a></li>
              <li class="nav-item"><a class="nav-link">Blog</a></li>
              <li class="nav-item"><a class="nav-link">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <router-outlet></router-outlet>
    </section>

    <script src="../../../assets/admin/assets/header/js/main.js"></script>
    <script src="../../../assets/admin/assets/header/js/bootstrap.min.js"></script>
    <script src="../../../assets/admin/assets/header/js/jquery.min.js"></script>
    <script src="../../../assets/admin/assets/header/js/popper.js"></script>
  </body>
</html>
