<div class="form-body">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3>Create Profile</h3>
            <p>--------------</p>
            <form [formGroup]="bioForm">
  
              <!-- Short Bio Input -->
              <div class="input-group">
                <label for="shortbio">Short Bio</label>
                <input class="form-control" type="text" id="shortbio" formControlName="shortbio" />
              </div>
  
              <!-- About Me Textarea -->
              <div class="input-group">
                <label for="aboutme">About Me</label>
                <textarea class="form-control" id="aboutme" formControlName="aboutme" rows="4" ></textarea>
              </div>
  
              <!-- Submit Button -->
              <div class="form-button mt-3">
                <button id="submit" type="submit" (click)="createBio()" class="btn btn-primary">
                  Add +
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  