<section id="content">
  <main *ngIf="userState === 'Education'">
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="box-info">
      <a routerLink="/user/education/disability">
        <li>
          <i class="bx bxs-calendar-check"></i>
          <span class="text">
            <h3>Disability</h3>
            <p>Category</p>
          </span>
        </li>
      </a>
      <a routerLink="/user/education/courseselection">
        <li>
          <i class="bx bxs-group"></i>
          <span class="text">
            <h3>Find Your</h3>
            <p>Course</p>
          </span>
        </li>
      </a>
      <li>
        <i class="bx bxs-dollar-circle"></i>
        <span class="text">
          <h3>N$2543.00</h3>
          <p>Total Sales</p>
        </span>
      </li>
    </ul>
  </main>
  <main *ngIf="userState === 'Career'">
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="box-info">
      <a routerLink="/user/career">
        <li>
          <i class="bx bxs-calendar-check"></i>
          <span class="text">
            <h3>Disability</h3>
            <p>Category</p>
          </span>
        </li>
      </a>
      <a routerLink="/user/career">
        <li>
          <i class="bx bxs-group"></i>
          <span class="text">
            <h3>Find Your</h3>
            <p>Course</p>
          </span>
        </li>
      </a>
      <li>
        <i class="bx bxs-dollar-circle"></i>
        <span class="text">
          <h3>N$2543.00</h3>
          <p>Total Sales</p>
        </span>
      </li>
    </ul>
  </main>
  <main *ngIf="userState === 'Matrimony'">
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="box-info">
      <a routerLink="/user/matrimony/updateprofile">
        <li>
          <i class="bx bxs-calendar-check"></i>
          <span class="text">
            <h3>Update</h3>
            <p>Profile</p>
          </span>
        </li>
      </a>
      <a routerLink="/user/matrimony/findmatch">
        <li>
          <i class="bx bxs-group"></i>
          <span class="text">
            <h3>Find Your</h3>
            <p>Partner</p>
          </span>
        </li>
      </a>
    </ul>
  </main>
</section>
