<section id="content">
  <main *ngIf="userState === 'Education'">
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" routerLink="/user/dashboard">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="box-info">
      <a routerLink="/user/education/updatedisability">
        <li>
          <i class="bx bxs-calendar-check"></i>
          <span class="text">
            <h3>Change Disability</h3>
            <p>Category</p>
          </span>
        </li>
      </a>
      <a routerLink="/user/education/courseselection" *ngIf="educationApplication">
        <li>
          <i class="bx bxs-group"></i>
          <span class="text">
            <h3>Find Your</h3>
            <p>Course</p>
          </span>
        </li>
      </a>
      <a routerLink="/user/education/viewadmissionstatus" *ngIf="!educationApplication">
        <li>
          <i class="bx bxs-group"></i>
          <span class="text">
            <h3>View Admission</h3>
            <p>Status</p>
          </span>
        </li>
      </a>
      <a routerLink="/user/education/mycourse" *ngIf="!educationApplication">
        <li>
          <i class="bx bxs-group"></i>
          <span class="text">
            <h3>View My</h3>
            <p>Course Details</p>
          </span>
        </li>
      </a>
    </ul>
  </main>
  <main *ngIf="userState === 'Career'">
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a routerLink="/user/dashboard">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" routerLink="/user/dashboard">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="box-info">
      <a routerLink="/user/career/updatedisability">
        <li>
          <i class="bx bxs-calendar-check"></i>
          <span class="text">
            <h3>Change Disability</h3>
            <p>Category</p>
          </span>
        </li>
      </a>
      <a routerLink="/user/career/findjob">
        <li>
          <i class="bx bxs-group"></i>
          <span class="text">
            <h3>Find Your</h3>
            <p>Job</p>
          </span>
        </li>
      </a>

      <a routerLink="/user/career/jobstatusview" *ngIf="jobStatus">
        <li>
          <i class="bx bxs-group"></i>
          <span class="text">
            <h3>View</h3>
            <p>Job Status</p>
          </span>
        </li>
      </a>

    </ul>
  </main>
  <main *ngIf="userState === 'Matrimony'">
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="/user/dashboard">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="/user/dashboard">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="box-info">
      <a *ngIf="profile" routerLink="/user/matrimony/createprofile">
        <li>
          <i class="bx bxs-calendar-check"></i>
          <span class="text">
            <h3>Create</h3>
            <p>Profile</p>
          </span>
        </li>
      </a>

      <a *ngIf="!profile" routerLink="/user/matrimony/editprofile">
        <li>
          <i class="bx bxs-calendar-check"></i>
          <span class="text">
            <h3>Update Matrimony</h3>
            <p>Profile</p>
          </span>
        </li>
      </a>
      
      <a routerLink="/user/matrimony/findpartner">
        <li>
          <i class="bx bxs-group"></i>
          <span class="text">
            <h3>Find Your</h3>
            <p>Partner</p>
          </span>
        </li>
      </a>

      <a routerLink="/user/matrimony/interest">
        <li>
          <i class="bx bxs-group"></i>
          <span class="text">
            <h3>My Interest</h3>
            <p>View</p>
          </span>
        </li>
      </a>

    </ul>
  </main>
</section>
