<div class="container">
  <!-- Job Category Dropdown -->
  <div class="select-container">
    <label for="category">Select Job Category</label>
    <select [(ngModel)]="jobCategorySelected" id="category" (change)="getSelectedCategoryDetails()">
      <option value="">-- Please select --</option>
      <option *ngFor="let category of jobCategory" [value]="category.jobcat_id">
        {{ category.jobcat_name }}
      </option>
    </select>
  </div>

  <!-- Display Category Details when a job category is selected -->
  <div *ngIf="jobCategorySelected">
    <div class="category-details">
      <h3>You have selected category "{{jobCategoryDetails[0].jobcat_name}}"</h3>
      <p><strong>Job Category:</strong> {{jobCategoryDetails[0].jobcat_name}} </p>
      <p><strong>Description:</strong> {{jobCategoryDetails[0].description}} </p>
      <p><strong>Qualification:</strong> {{jobCategoryDetails[0].qualification}} </p>
    </div>

    <button class="continue-button" (click)="findMatchingJob()">Continue</button>

  </div>

  <div *ngIf="loading" class="loading-container">
    <div class="loading-circle"></div>
  </div>

  <!-- Show content after loading -->
  <div *ngIf="!loading && loadJob">
    <app-matching-job></app-matching-job>
  </div>

</div>

<!-- no-result-modal.component.html -->
<div class="modal" *ngIf="isVisible">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <h2>No Results Found</h2>
    <p>Sorry, we couldn't find any matching results.</p>
  </div>
</div>
