<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items" style="margin-top: 100px;">
                    <h3>Register Course Details</h3>
                    <div class="form-button1">
                        <button class="btn btn-primary" routerLink="/viewcourse">View Course</button>
                    </div>
                    <p>--------------</p>
                    <form class="requires-validation" [formGroup]="courseForm">

                        <div class="input-group">
                            <label for="position">Department</label>
                            <select class="form-select" id="position" formControlName="department" style="color: black;" required >
                                  <option selected disabled value="">Select Department</option>
                                  <option *ngFor="let item of dept" value="{{item.dept_id}}">{{item.dept_name}}</option>
                            </select> 
                        </div>

                        <div class="input-group">
                           <label for="name">Course Name</label>
                           <input class="form-control" type="text" formControlName="courseName" placeholder="Example: Computer Science " required>
                        </div>

                        <div class="input-group">
                            <label for="name">Course Code</label>
                            <input class="form-control" type="text" formControlName="courseCode" placeholder="Example: Computer Science " required>
                         </div>

                         <div class="input-group">
                            <label for="name">Course Duration</label>
                            <input class="form-control" type="text" formControlName="courseDuration" placeholder="Example: Computer Science " required>
                         </div>

                        <div class="input-group">
                            <label for="email">Course Description</label>
                            <input class="form-control" type="text" formControlName="courseDesc" placeholder="Example: Focuses on the study of IT " required>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" (click)="createCourse()" class="btn btn-primary">Add +</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
