<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items" style="margin-top: 50px">
          <h3>Create Profile</h3>
          <p>--------------</p>
          <form class="requires-validation" [formGroup]="profileForm" enctype="multipart/form-data">
            <div class="form-row">
              <div class="input-group">
                <label for="position">First Name</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="firstname"
                />
              </div>

              <div class="input-group">
                <label for="name">Last Name</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="lastname"
                />
              </div>
            </div>

            <div class="form-row">
              <div class="input-group">
                <label for="position">email</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="email"
                />
              </div>

              <div class="input-group">
                <label for="name">Date of Birth</label>
                <input
                  class="form-control"
                  type="date"
                  formControlName="dateofbirth"
                />
              </div>
            </div>

            <div class="form-row">
              <div class="input-group">
                <label for="position">Phone</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="mobile"
                  maxlength="10"
                />
              </div>

              <div class="input-group">
                <label for="name">Gender</label>
                <select
                  class="form-select"
                  id="position"
                  formControlName="gender"
                  style="color: black"
                >
                  <option selected disabled value="">Select</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>

            <!-- Remaining form fields -->
            <div class="form-row">
              <div class="input-group">
                <label for="position">Pincode</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="pincode"
                  (change)="fetchPincode()"
                />
              </div>

              <div class="input-group">
                <label for="position">State</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="state"
                  value="{{ state }}"
                />
              </div>
            </div>

            <div class="form-row">
              <div class="input-group">
                <label for="position">District</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="district"
                  value="{{ district }}"
                />
              </div>

              <div class="input-group">
                <label for="position">Location</label>
                <select
                  class="form-select"
                  id="position"
                  formControlName="location"
                  style="color: black"
                >
                  <option selected disabled value="">Select</option>
                  <option
                    *ngFor="let location of pincodeDetails"
                    value="{{ location.Name }}"
                  >
                    {{ location.Name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="input-group">
                <label for="position">Profile Picture</label>
                <input
                  class="form-control"
                  type="file"
                  formControlName="profile"
                  (change)="selectFile($event)"
                />
              </div>
            </div>

            <p>Basic Details</p>

            <div class="form-row">
              <div class="input-group">
                <label for="position">Disability Category</label>
                <select
                  class="form-select"
                  id="position"
                  formControlName="disabilitycategory"
                  style="color: black"
                  (change)="fetchSubCategory()"
                >
                  <option selected disabled value="">Select</option>
                  <option *ngFor="let item of disabilityCategory" value="{{item.id}}">{{item.disability_category}}</option>
                </select>
              </div>

              <div class="input-group">
                <label for="name">Disability Subcategory</label>
                <select
                  class="form-select"
                  id="position"
                  formControlName="disabilitysubcategory"
                  style="color: black"
                >
                  <option selected disabled value="">Select</option>
                  <option *ngFor="let item of subDisabilityCategory" value="{{item.id}}" >{{item.sub_category_name}}</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="input-group">
                <label for="position">Disability Percent</label>
                <select
                  class="form-select"
                  formControlName="percent"
                  id="position"
                  style="color: black"
                >
                  <option selected disabled value="">Select</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                  <option value="60">60</option>
                  <option value="70">70</option>
                  <option value="80">80</option>
                </select>
              </div>
            </div>

            <div class="form-button mt-3">
              <button
                id="submit"
                type="submit"
                (click)="createProfile()"
                class="btn btn-primary"
              >
                Create
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
